/*-------------------Colors

#2B2D42 - DARK BLUE
#8D99AE - LIGHT BLUE
#EDF2F4 - BLUE TO WHITE
#EF233C - RED

-------------------*/

/*-------------------Global sytles--------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
}

h1, h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    margin-top: 0;
}
h3{
    margin:0;
}


/*-------------------Navigation--------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 0px;
    z-index: 1;
}

.nav-menu {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 60px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.nav-item {
    font-size: 15px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: fixed;
        top: 7px;
        left: 15px; 
        
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        position: fixed;
        width: 100%;
        align-items: center;
        padding: 22px;
        background-color: #2B2D42;
        z-index: 1;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color: #2B2D42;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }
    
    .nav-menu.active {
        left: 0;
    }

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}


/*-------------------Header only--------------------*/

header{
    position: relative;
    padding-top: 0px;
    text-align: center;
    background-color: #2B2D42;
    color: #8D99AE;
}

@media (max-width: 440px) {
    header {
        padding-top: 0;
    }
}



header h1, header h2 {
    color: #EDF2F4;
}

h1{
    margin: 0;
}

.content-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 60px 50px;
    max-width: 950px;
    overflow: hidden;
}

@media (min-width: 935px) {
    .content-wrap{
        flex-direction: row;
    }
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width: 440px) {
    .profile-img {
        width: 200px; 
        height: 200px;
    }
}

@media (min-width: 935px) {
    .profile-img {
        width: 250px; 
        height: 250px;
    }
}

.btn {
    text-decoration: none;
    background-color: #EF233C;
    color: white;
    padding: 0 5px 0 5px;
    z-index: 0;
}

@media (min-width: 440px) {
    .btn {
        padding: 10px;
    }
}

.download {
    position: absolute; 
    z-index: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 440px) {
    .download {
        font-size: 20px;
    }
}


/*------------------------Work-------------------------*/

.work-exprience{
    padding-top: 40px;
    background-color: #EDF2F4;
}

.work-wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 950px;
}

.job-wrapper {
    display: block;
    padding-bottom: 30px;
}

.TECHNOLOGY {
    color: #286fb6;
}




@media (min-width: 935px) {
    .job-wrapper{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        column-gap: 30px;
    }
}

/*-----------------------------優化-----------------------------*/

h3~p {
    margin: 0;
}



@media (min-width: 935px) {
    .job-description p:first-of-type{
        margin-top: 0;
    }
}

/*-----------------------------優化-----------------------------*/


/*-------------------Education--------------------*/

.education {
    padding: 40px 0;
    background: linear-gradient(rgba(141, 153, 174, 0.9), rgba(141, 153, 174, 0.7)), url(./asset/S__12247056.jpg) no-repeat fixed;
    background-size: cover;
}

.education-wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 950px;
}

.ul {
    margin-top: 0;
}

/*----------------------------------------Portfolio-------------------------------------------------*/

.Portfolio {
    display: flex;
    background-color:#EDF2F4;
    justify-content: space-between;
    vertical-align: top;
    padding: 80px 150px 80px;
}

.Portfolio h100{
    font-family: 'caveat', cursive;
    font-weight: 400px;
    font-size: 30px;
}

.Portfolio div {
    width: 330px;
    text-align: center;
}

.Portfolio img {
    width: 330px;
    height: 220pX;
    border-radius: 10px;
}

.Portfolio p {
    font-size: 14px;
    line-height: 1.6em;
    text-align: justify;
}


@media screen and (max-width: 1400px) {
    .Portfolio {
        display: flex;
        justify-content: space-between;
        vertical-align: top;
        padding: 80px 100px 80px;
    }
    .Portfolio h100{
        font-family: 'caveat', cursive;
        font-weight: 350px;
        font-size: 20px;
    }
    
    .Portfolio div {
        width: 270px;
        text-align: center;
    }
    
    .Portfolio img {
        width: 270px;
        height: 180pX;
        border-radius: 10px;
    }
    
    .Portfolio p {
        font-size: 12px;
        line-height: 1.6em;
        text-align: justify;
    }
}

@media screen and (max-width: 1100px) {
    .Portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 100px 50px;
    }
    .Portfolio div {
        margin-bottom: 30px;
    }
    .Portfolio img {
        width: 100%;
    }

    .Portfolio h100{
        font-family: 'caveat', cursive;
        font-weight: 400px;
        font-size: 30px;
    }
    
    .Portfolio div {
        width: 330px;
        text-align: center;
    }
    
    .Portfolio img {
        width: 330px;
        height: 220pX;
        border-radius: 10px;
    }
    
    .Portfolio p {
        font-size: 14px;
        line-height: 1.6em;
        text-align: justify;
    }
}


/*--------------------------------------------Footer---------------------------------------------------*/
footer {
    text-align: center;
    background-color: #2B2D42;
    color: #8D99AE;
    font-size: 10px;
}

.contact-wrapper {
    margin: 0 auto;
    padding: 20px 0 50px;
    max-width: 900px;
}

.contact-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-pic {
    width: 50px;
    height: 50px;
}

.media-pic:hover {
    transform: scale(1.1);
}

.p+h3 {
    margin-top: 30px;
}

.mail {
    margin-top: 7px;
}
